:root {
    color-scheme: light dark;

    --color: light-dark(black, white);
    --background: light-dark(white, #1a1a1a);
    --link-color: light-dark(royalblue, deepskyblue);
    --visited-link-color: light-dark(blueviolet, mediumorchid);
    --mark-background: light-dark(greenyellow, limegreen); /* #fff88a */
    --danger-color: light-dark(darkred, #df4242);
}
html {
    --max-main-content-width: 680px;
    --layout-padding-x: 1.1rem;
    --layout-padding-y: .9rem;
    --abstract-padding: var(--layout-padding-x);
    --block-margin-y: 1em;
    --block-border-radius: 1em;

    font: normal 120%/1.45 sans-serif;
    color: color(from var(--color) srgb r g b / .9);
    background: var(--background);
}
@media (max-width: 600px) {
    html {
        font-size: 110%;
        line-height: 1.4;
    }
}
svg {
    font: inherit;
}
body {
    padding: 1rem 0 2.5rem;
    margin: 0;
}
p, ul, ol, pre, details {
    margin-top: var(--block-margin-y);
    margin-bottom: var(--block-margin-y);
}
ul ul,
li {
    margin-top: .25em;
    margin-bottom: .25em;
}
hr {
    width: 100%;
    height: 0;
    background: none;
    border: none;
    border-top: .1em solid;
    margin: 2em 0;
}
main hr {
    width: 5em;
    margin: 2.5em auto;
}
main p.sep {
    font-size: 1.5em;
    text-align: center;
    margin: .5em 0;
}
h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 900;
    font-size: 1.67em;
    line-height: 1.1;
    border-bottom: .04em solid color(from var(--color) srgb r g b / .2);
    padding: 0 0 .2em 0;
    margin: 1.5em 0 .75em 0;
}
h2 {
    font-size: 1.3em;
    line-height: 1.1;
    border-bottom: .04em solid color(from var(--color) srgb r g b / .2);
    padding: 0 0 .2em 0;
    margin: 1.5em 0 .75em 0;
}
h2#related {
    font-size: .8rem;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: color(from var(--color) srgb r g b / .5);
    margin-top: 2rem;
}
h3 {
    font-size: 1.15em;
    line-height: 1.1;
    padding: 0;
    margin: 1.5em 0 .75em 0;
}
h4 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.1;
    padding: 0;
    margin: 1.5em 0 1em;
}
.abstract,
[role="doc-abstract"] {
    font-style: italic;
    background: light-dark(
        color(from var(--color) srgb r g b / .07),
        color(from var(--color) srgb r g b / .12)
    );
    padding: var(--abstract-padding);
    margin: 1.25em calc(-1*var(--abstract-padding)) 1.75em;
}
.abstract p:first-child,
[role="doc-abstract"] p:first-child {
    margin-top: 0;
}
.abstract p:last-child,
[role="doc-abstract"] p:last-child {
    margin-bottom: 0;
}
main h1:first-child {
    margin-top: .65em;
}
a,
a:hover,
a:visited,
a:active {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/*
a:visited {
    color: var(--visited-link-color);
}
*/
main,
header,
footer {
    width: 100%;
    max-width: var(--max-main-content-width);
    padding: 0 var(--layout-padding-x);
    margin: 0 auto;
    box-sizing: border-box;
}
header hr,
footer hr {
    display: none;
}
footer, footer small {
    font-size: .6rem;
}
footer {
    opacity: .5;
}
table {
    border-collapse: collapse;
    margin: 1.5em 0;
}
th,
td {
    line-height: 1.1;
    text-align: start;
    vertical-align: text-top;
    border: 1px solid color(from var(--color) srgb r g b / .2);
    padding: .5rem .75rem;
}
th {
    font-size: .75em;
    font-style: italic;
    font-weight: bold;
    background: color(from var(--color) srgb r g b / .07);
    padding-top: .3rem;
    padding-bottom: .3rem;
}
mark {
    background: var(--mark-background);
}
.danger {
    color: var(--danger-color);
}
blockquote {
    border-inline-start: .25em solid color(from var(--color) srgb r g b / .2);
    padding: 0;
    padding-inline-start: .75em;
    margin: var(--block-margin-y) 0;
    box-sizing: border-box;
}
.highlight {
    border-radius: var(--block-border-radius);
}
code {
    background: color(from currentColor srgb r g b / .08);
    border-radius: .35em;
    padding: .15em .35em;
}
pre,
pre.highlight {
    line-height: 1.35;
    border-radius: var(--block-border-radius);
    overflow: auto;
}
pre > code {
    display: block;
    background: transparent;
    padding: 1.25em;
}
header {
    display: flex;
    align-items: center;
    font-size: .9rem;
    line-height: 1.1;
}
header .image {
    --image-size: 3rem;
    margin-right: 1em;
}
header .image span {
    display: block;
    width: var(--image-size);
    height: var(--image-size);
    font-size: 0;
    background: color(from var(--color) srgb r g b / .07);
    border-radius: 50%;
    overflow: hidden;
}
header .image img {
    max-width: var(--image-size);
    max-height: var(--image-size);
}
header .metadata > span {
    display: inline-block;
    font-size: .8rem;
    margin-top: .35rem;
}
header .metadata .sep {
    margin: 0 .25em;
}
p.tags {
    font-size: .75em;
    margin: 2em 0;
}
h1 + p.tags {
    margin-top: -1.35em;
}
.tags em {
    display: inline-block;
    font-style: normal;
    background: color(from var(--link-color) srgb r g b / .15);
    border-radius: .85em;
    padding: .25em .85em;
    margin: .5em .25em 0 0;
}
.tags .sep {
    display: none;
}
a.star-button {
    display: inline-block;
    background: color(from currentColor srgb r g b / .12);
    border: .05em solid;
    border-radius: .35em;
    padding: .3em 1em;
    padding-inline-start: .8em;
    margin: .75em 0;
}
a.star-button svg {
    height: 1em;
    margin-inline-end: .25em;
    transform: translateY(.1em);
}
p:last-child a.star-button {
    margin-bottom: 0;
}
a.star-button:hover {
    text-decoration: none;
    box-shadow: 0 0 .5em 0 color(from currentColor srgb r g b / .2);
}
