:root {
    color-scheme: light dark;

    --color: light-dark(black, white);
    --background: light-dark(white, #161522);
    --link-color: color(from var(--color) srgb r g b / .8);
}
html {
    font: normal 80%/1.2 sans-serif;
    color: var(--color);
    background: var(--background);
    overscroll-behavior: contain;
}
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
a,
a:hover,
a:visited,
a:active {
    color: var(--link-color);
}
#screen {
    flex: auto;
    overflow: hidden;
}
#screen svg {
    font: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
}
#screen svg text {
    cursor: default;
    user-select: none;
}
#screen .stars circle {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: .75;
}
@media (prefers-color-scheme: dark) {
    #screen .stars circle {
        stroke: none;
    }
    #screen .stars circle[data-spcl^="O"],
    #screen .stars circle[data-spcl^="B"] {
        fill: #c0ffff; /* blue */
    }
    #screen .stars circle[data-spcl^="A"],
    #screen .stars circle[data-spcl^="F"] {
        fill: #ffffff; /* white */
    }
    #screen .stars circle[data-spcl^="G"] {
        fill: #f9f9d8; /* yellow */
    }
    #screen .stars circle[data-spcl^="K"] {
        fill: #ffe0c0; /* orange */
    }
    #screen .stars circle[data-spcl^="M"] {
        fill: #f9cdcd; /* red */
    }
}
#screen .stars svg path {
    fill: none;
    stroke-linecap: round;
}
#screen .grid path {
    stroke: currentColor;
    stroke-width: .5;
    stroke-opacity: .2;
    fill: none;
}
#screen .star-labels {
    font-family: serif;
    fill: currentColor;
    fill-opacity: .5;
}
@media (max-width: 500px) {
    #screen .star-labels [data-x="0"] {
        display: none;
    }
}
#screen .constellation-labels {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .2em;
    text-anchor: middle;
    fill: currentColor;
    fill-opacity: .15;
}
#screen .constellation-lines path {
    stroke: currentColor;
    stroke-width: .5;
    stroke-opacity: .3;
    fill: none;
}
#screen .hidden {
    display: none;
}
footer {
    font-weight: bold;
    border-radius: .5em 0 0 0;
    position: absolute;
    padding: .2em .65em .3em .75em;
    right: 0;
    bottom: 0;
}
