:root {
    color-scheme: light dark;

    --color: light-dark(black, white);
    --background: light-dark(white, #1a1a1a);
}
html {
    font: normal 80%/1.2 sans-serif;
    color: var(--color);
    background: var(--background);
}
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
#screen {
    font-size: .9rem;
    flex: auto;
    overflow: hidden;
}
#screen svg {
    font: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
}
#screen .under {
    stroke: none;
    fill: currentColor;
    fill-opacity: .1;
}
#screen .above {
    stroke: none;
    fill: none;
    fill-opacity: .1;
}
@media (prefers-color-scheme: dark) {
    #screen .under {
        fill: none;
    }
    #screen .above {
        fill: currentColor;
    }
}
#screen .directions .tick {
    stroke: currentColor;
    stroke-width: .5;
    fill: none;
}
#screen .directions .tick-label {
    text-anchor: middle;
    fill: currentColor;
    fill-opacity: .75;
}
#screen .directions .leftmost.tick-label {
    text-anchor: start;
}
#screen .directions .rightmost.tick-label {
    text-anchor: end;
}
#screen .track {
    stroke: currentColor;
    stroke-opacity: .5;
    stroke-width: .5;
    fill: none;
}
#screen .tracks .tick {
    fill: currentColor;
    stroke: none;
}
#screen .marker-lines line {
    stroke: currentColor;
    stroke-width: .5;
    stroke-dasharray: 2 3;
    fill: none;
}
#screen .hidden {
    display: none;
}
#screen .phase-shadow {
    fill: black;
    fill-opacity: .7;
    stroke: none;
}
.pos {
    --x: 0;
    flex: none;
    font-size: .9rem;
    color: color(from var(--color) srgb r g b / .65);
    height: 2em;
    position: relative;
}
.pos > span {
    display: inline-block;
    white-space: nowrap;
    padding: .2em 0;
    position: absolute;
    left: var(--x);
}
.pos > span > span:not(.icon) {
    margin: 0 .25em;
}
.pos .value {
    color: var(--color);
    font-weight: bold;
}
.pos[data-id="sun"] > span {
    bottom: 0;
}
.pos[data-id="moon"] > span {
    top: 0;
}
.pos .icon {
    font-size: 1.25em;
}
form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 4em;
    padding: .75em 0;
    box-sizing: border-box;
}
form > span {
    margin: 0 .5em;
}
form .field {
    display: inline-block;
    width: 14em;
    max-width: 35%;
    border-bottom: 1px solid;
}
form input {
    width: 100%;
    font: inherit;
    text-align: center;
    background: none transparent;
    border: none;
    padding: .1em;
    box-sizing: border-box;
}
form button {
    font: inherit;
    background: none transparent;
    border: none;
    cursor: pointer;
}
form button img,
form button svg {
    height: 1.2em;
    transform: translateY(.15em);
}
html.error .pos,
html.error #screen {
    display: none;
}
html.error .error {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}
