html {
    --color: black;
    --background: white;
    --link-color: royalblue;

    font: normal 80%/1.2 sans-serif;
    color: var(--color);
    background: var(--background);
    overscroll-behavior: contain;
}
html[data-mode="dark"],
html[data-mode="fantasy"] {
    --color: white;
    --background: #161522;
    --link-color: deepskyblue;
}
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
a,
a:hover,
a:visited,
a:active {
    color: var(--link-color);
}
#screen {
    flex: auto;
    overflow: hidden;
    position: relative;
}
#screen svg {
    font: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
}
#screen svg text {
    cursor: default;
    user-select: none;
}
#screen .stars circle {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: .75;
}
html[data-mode="dark"] #screen .stars circle,
html[data-mode="fantasy"] #screen .stars circle {
    stroke: none;
}
html[data-mode="dark"] #screen .stars circle[data-spcl^="O"],
html[data-mode="dark"] #screen .stars circle[data-spcl^="B"] {
    fill: #c0ffff; /* blue */
}
html[data-mode="dark"] #screen .stars circle[data-spcl^="A"],
html[data-mode="dark"] #screen .stars circle[data-spcl^="F"] {
    fill: #ffffff; /* white */
}
html[data-mode="dark"] #screen .stars circle[data-spcl^="G"] {
    fill: #f9f9d8; /* yellow */
}
html[data-mode="dark"] #screen .stars circle[data-spcl^="K"] {
    fill: #ffe0c0; /* orange */
}
html[data-mode="dark"] #screen .stars circle[data-spcl^="M"] {
    fill: #f9cdcd; /* red */
}
#screen .stars svg path {
    fill: none;
    stroke-linecap: round;
}
#screen .grid path {
    stroke: currentColor;
    stroke-width: .5;
    stroke-opacity: .2;
    fill: none;
}
#screen .star-labels {
    font-family: serif;
    fill: currentColor;
    fill-opacity: .5;
}
@media (max-width: 500px) {
    #screen .star-labels [data-x="0"] {
        display: none;
    }
}
#screen .constellation-labels {
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: .2em;
    text-anchor: middle;
    text-transform: uppercase;
    fill: currentColor;
    fill-opacity: .15;
}
#screen .constellation-lines path {
    stroke: currentColor;
    stroke-width: .5;
    stroke-opacity: .3;
    fill: none;
}
#screen .hidden {
    display: none;
}
#screen form {
    display: flex;
    padding: 0;
    margin: 0;
    position: absolute;
    inset: 1em auto auto 1em;
}
#screen form label {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#screen form label input {
    position: absolute;
    left: -10rem;
}
#screen form label span {
    display: inline-block;
    color: color(from var(--color) srgb r g b / .85);
    background: color(from var(--color) srgb r g b / .15);
    border: .05em solid color(from var(--color) srgb r g b / .3);
    padding: .35em 1.5em;
}
#screen form label input:checked + span {
    color: color(from var(--link-color) srgb r g b / .95);
    background: color(from var(--link-color) srgb r g b / .25);
}
footer {
    --link-color: color(from var(--color) srgb r g b / .8);

    font-weight: bold;
    border-radius: .5em 0 0 0;
    position: absolute;
    padding: .2em .65em .3em .75em;
    right: 0;
    bottom: 0;
}

#screenmenu {
    --x: 0px;
    --y: 0px;

    color: color(from var(--link-color) srgb r g b / .95);
    background: color(from var(--link-color) srgb r g b / .25);
    border: .05em solid color(from var(--link-color) srgb r g b / .5);
    position: absolute;
    z-index: 100;
    left: var(--x);
    top: var(--y);
}
#screenmenu ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
#screenmenu li {
    border-bottom: .05em solid color(from var(--link-color) srgb r g b / .25);
    padding: .35em 1em .3em;
}
#screenmenu button {
    display: block;
    width: 100%;
    color: inherit;
    background: transparent;
    border: none;
    padding: .35em 1em .3em;
    box-sizing: border-box;
    cursor: pointer;
}
