:root {
  --color: #000d;
  --background: #eee;
  --link-color: #1643c8;
  --mark-color: #d5fbb0;

  --light-color: #00000008;
  --border-color: #e8e8e8;
  --shadow-color: #bbb;
  --title-color: #000d;

  --box-size: 300px;
  --box-padding-x: 1.75rem;
  --box-padding-y: 1.25rem;
  --shadow: 0 0 0.75rem 0 var(--shadow-color);
  --border-width: 0.42rem;
  --border-radius: 0.75rem;
  --container-padding-x: calc(var(--box-padding-x) - var(--border-width));
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: #fffa;
    --background: #1a1a1a;
    --link-color: deepskyblue;
    --mark-color: #3d2b5e;

    --light-color: #ffffff08;
    --border-color: #262626;
    --shadow-color: #595959;
    --title-color: #fffc;

    --shadow: 0 0 0.2rem 0 var(--shadow-color);
  }
}
html {
  font: normal 90% / 1.4 sans-serif;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: var(--color);
  background: var(--background);
}
body {
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:visited,
a:active {
  --color: var(--link-color);
  color: var(--link-color);
  text-decoration-thickness: 0.02rem;
  text-underline-offset: 0.18em;
}
p {
  margin: 0.75em 0;
}
ul {
  padding-inline-start: 1em;
  margin: 1.35em 0 1em;
}
li {
  margin: 0;
}
li + li {
  margin-top: 0.5em;
}
main {
  max-width: calc(4.5 * var(--box-size));
  padding: 0.75rem var(--container-padding-x) 1.5rem;
  margin: 0 auto;
  box-sizing: border-box;
}
/* main :target {
  background: #eafad7;
} */
main :target h2 {
  display: inline-block;
  position: relative;
}
main :target h2::before {
  content: "";
  background: var(--mark-color);
  border-radius: 0.1em;
  position: absolute;
  inset: 0 -0.5em;
  transform: skewX(-15deg);
  z-index: -1;
}
h1 {
  max-width: 9em;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1;
  color: var(--title-color);
  margin: 0;
}
h2 {
  font-size: 1.2rem;
  margin: 0;
}
.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--box-size), 1fr));
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.board-item {
  min-width: var(--box-size);
  padding: var(--box-padding-y) var(--box-padding-x);
  margin: 0;
  box-sizing: border-box;
}
.board-item.double {
  grid-column: span 2;
}
.framed {
  border: 0.1em solid var(--shadow-color);
  border-radius: var(--border-radius);
  padding: 0.25em 1.5em 0.25em;
  margin-top: 1.5em;
  position: relative;
  box-sizing: border-box;
}
.framed.board {
  padding: 0.5em var(--container-padding-x);
}
.framed > h2 {
  font-size: 1rem;
  color: var(--shadow-color);
  background: var(--background);
  padding: 0 0.25em;
  margin: 0;
  position: absolute;
  left: 1.25em;
  top: 0;
  transform: translateY(-65%);
}
figure {
  width: 100%;
  padding: 0;
  margin: 0;
}
picture {
  display: inline-block;
  width: calc(100% + 2 * var(--border-width));
  min-height: 120px;
  font-size: 0;
  text-align: center;
  background: var(--light-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin: 0 calc(-1 * var(--border-width));
  box-sizing: border-box;
  overflow: hidden;
}
picture img {
  max-width: 100%;
  height: auto;
}
figcaption {
  padding: 0 0.25em;
  margin: 0.75em 0 0;
}
.intro {
  text-align: right;
}
.intro .image {
  --size: 8.5rem;

  display: inline-block;
  width: var(--size);
  min-height: var(--size);
  font-size: 0;
  background: var(--light-color);
  border-radius: 50%;
  margin-bottom: 0.75rem;
  overflow: hidden;
}
.intro .image img {
  width: var(--size);
  height: auto;
}
.intro .content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.post {
  flex: auto;
}
.contacts {
  border: none;
  border-collapse: collapse;
  margin: 1rem 0 0;
}
.contacts td {
  display: inline-block;
  text-align: left;
  padding: 0;
  border: none;
}
.contacts td + td {
  padding-left: 0.35em;
}
.contacts td:first-child {
  text-align: right;
}
p.tag {
  margin: 0;
}
p.tag + ul {
  margin-top: 1em;
}
/* strong {
  display: inline-block;
  position: relative;
}
strong::before {
  content: "";
  background: var(--mark-color);
  border-radius: 0.1em;
  position: absolute;
  inset: 0 -0.5em;
  transform: skewX(-15deg);
  z-index: -1;
} */
/* .intro2 {
  background: #ebf4f4;
}
.app {
  background: #fbf6f1;
} */
@media (max-width: 1255px) {
  h1 {
    max-width: none;
  }
  .intro.board-item {
    display: flex;
    align-items: center;
    gap: 2em;
    grid-column: 1 / -1;
    text-align: left;
  }
  .intro .content {
    align-items: flex-start;
  }
}
@media (max-width: 720px) {
  :root {
    --box-size: 100%;
    --box-padding-y: 1.75rem;

    font-size: 100%;
  }
  main {
    padding: 0;
  }
  .board-item.double {
    grid-column: span 1;
  }
  .intro.board-item {
    display: block;
  }
  .intro {
    text-align: left;
    background: var(--light-color);
  }
  .intro h1 {
    font-size: 1.75rem;
  }
  .intro .content {
    align-items: flex-start;
  }
  .intro .image {
    --size: 5rem;

    float: right;
    border-radius: 50%;
    margin-left: 1.5rem;
  }
  .contacts {
    font-size: 0.85rem;
    margin: 1rem 0 0;
  }
  .contacts td {
    display: table-cell;
  }
  .contacts td:first-child {
    width: 3em;
  }
  .posts {
    border: 1rem solid var(--light-color);
    border-left: none;
    border-right: none;
  }
  .apps article:not(:first-child) {
    border-top: 1rem solid var(--light-color);
  }
  figure + p {
    margin-top: 1em;
  }
  picture {
    display: block;
  }
}
