:root {
  --color: black;
  --background: #d9d9d9;
  --link-color: royalblue;

  --hovered-link-decoration: underline;
  --hovered-link-background: transparent;
  --main-padding: 2rem;
  --tile-content-size: 500px;
  --tile-padding: 1em;
  --aspect-ratio: 1;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --background: #1a1a1a;
    --link-color: deepskyblue;
  }
}
html {
  font: normal 100% / 1.3 sans-serif;
  color: color(from var(--color) srgb r g b / 0.9);
  background: var(--background);
}
body {
  padding: 0;
  margin: 0;
}
html.loading body::before {
  content: "â³";
  display: inline-block;
  font-size: 3rem;
  opacity: 0.35;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
}
a,
a:hover,
a:visited,
a:active {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: var(--hovered-link-decoration);
  background: var(--hovered-link-background);
  cursor: pointer;
}
html.list main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding: var(--main-padding);
}
@media (max-width: 600px) {
  :root {
    --tile-padding: 0em;
  }
  html.list main {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: var(--main-padding) 0;
  }
}
main figure {
  display: block;
  margin: 0;
}
main picture {
  display: block;
  background: color(from var(--color) srgb r g b / 0.05);
  padding: var(--tile-padding);
  box-sizing: border-box;
}
html.list main picture {
  width: calc(var(--tile-content-size) + 2 * var(--tile-padding));
  height: calc(
    var(--aspect-ratio) *
    var(--tile-content-size) +
    2 *
    var(--tile-padding)
  );
}
@media (max-width: 600px) {
  html.list main picture {
    width: 100%;
    height: auto;
    min-height: 240px;
  }
}
html.standalone main picture {
  height: 100vh;
}
main picture > span {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}
html.list main picture > span {
  position: relative;
  overflow: hidden;
}
html.standalone main picture > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
main picture img {
  height: auto;
  transition:
    filter 0.5s,
    opacity 0.5s;
  filter: none;
}
main picture.loading img {
  filter: grayscale(100%) brightness(0);
  opacity: 0.05;
}
html.list main picture img {
  max-width: var(--tile-content-size);
  max-height: var(--tile-content-size);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
  html.list main picture img {
    max-width: 100%;
    max-height: none;
    position: static;
    transform: none;
  }
}
html.standalone main picture img {
  max-width: 100%;
  max-height: 100%;
}
main figcaption {
  display: flex;
  font-size: 0.85em;
  padding: 0.65em 0.75em 0;
}
@media (max-width: 600px) {
  main figcaption {
    padding: 0.75em 1em 0;
  }
}
html.standalone main figcaption {
  font-size: 1em;
  text-align: center;
  padding: 1.25em 0.75em;
}
main figcaption .content {
  display: block;
  flex: auto;
}
main figcaption .content > span {
  display: block;
}
main figcaption .date {
  font-size: 0.85em;
  color: color(from var(--color) srgb r g b / 0.5);
}
main figcaption .description {
  margin-top: 0.1em;
}
main figcaption .controls {
  --link-color: color(from var(--color) srgb r g b / 0.75);
  --hovered-link-decoration: none;

  display: block;
  flex: none;
}
nav {
  --link-color: var(--color);
  --hovered-link-decoration: none;
  --hovered-link-background: color(from var(--color) srgb r g b / 0.075);

  display: flex;
  font-size: 0.9em;
  justify-content: center;
  gap: 0.75rem;
  padding: 0 var(--main-padding) 1rem;
}
nav a {
  display: inline-block;
  padding: 0.5em 1em 0.4em;
  border-radius: 0.25em;
  transition: background 0.2s;
}
nav a:not([href]) {
  opacity: 0.2;
  pointer-events: none;
}
