<!DOCTYPE html>
<html lang="{{page.lang | default: 'en'}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{page.title | strip_html}}</title>
    <link rel="stylesheet" href="assets/plain.css">{% if content contains "<pre" %}
    <link rel="stylesheet" href="assets/code.lightbulb.css">{% endif %}
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>
<body>

<header>
{%- if page.author == nil or page.author == 'axtk' %}
<p class="image">
    <span><img src="{{site.github.owner_gravatar_url}}" alt="" height="120"></span>
</p>
{%- elsif page.avatar_url %}
<p class="image">
    <span><img src="{{page.avatar_url}}" alt="" height="120"></span>
</p>
{% endif -%}
<p class="metadata">
{%- if page.author == 'axtk' or page.author == nil %}
    <a href="{{site.github.baseurl}}">Alexander Tkačenko</a><br>
{%- elsif page.author_url %}
    <a href="{{page.author_url}}">{{page.author | escape}}</a><br>
{%- else %}
    {{page.author}}<br>
{% endif %}
    <span>
        <span class="date">{{page.date}}</span>
{%- assign duration = content | number_of_words | divided_by: 200 %}
        <span class="sep">&bull;</span>
        <span class="duration">{{duration}} min read</span>
    </span>
</p>
</header>

<main>

<h1>{{page.title}}</h1>
{% if page.tags %}
<p class="tags">
{%- for tag in page.tags %}
    <em>{{tag | escape}}</em>{% unless forloop.last %}<span class="sep">, </span>{% endunless -%}
{% endfor %}
</p>
{% endif %}
{% if page.abstract %}
<div class="abstract" role="doc-abstract">
{{page.abstract}}
</div>

{% endif %}
{{content | replace: '<a href="http', '<a target="_blank" href="http' | replace: '<p>~</p>', '<p class="sep">~</p>'}}
</main>

<script src="assets/stats.js"></script>
</body>
</html>
