<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{page.title | strip_html}}</title>
    <link rel="stylesheet" href="css/plain.css">{% if content contains "<pre" %}
    <link rel="stylesheet" href="css/code.lightbulb.css">{% endif %}
    <link rel="icon" type="image/svg+xml" href="i/favicon.svg">
</head>
<body>

<header>
{% if page.author == nil or page.author == 'axtk' %}
<p class="image">
    <span><img src="{{site.github.owner_gravatar_url}}" alt="" height="120"></span>
</p>
{% elsif page.avatar_url %}
<p class="image">
    <span><img src="{{page.avatar_url}}" alt="" height="120"></span>
</p>
{% endif %}
<p class="metadata">
{% if page.author == 'axtk' or page.author == nil %}
    <a href="{{site.github.baseurl}}">Alexander Tkačenko</a><br>
{% elsif page.author_url %}
    <a href="{{page.author_url}}">{{page.author}}</a><br>
{% else %}
    {{page.author}}<br>
{% endif %}
    <span class="date">{{page.date}}</span>
</p>
</header>

<main>

<h1>{{page.title}}</h1>
{% if page.tags %}
<p class="tags">
{% for tag in page.tags %}
    <em>{{tag}}</em>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
{% endfor %}
</p>
{% endif %}
{% if page.abstract %}
<div class="abstract" role="doc-abstract">
{{page.abstract}}
</div>

{% endif %}
{{content | replace: '<p>~</p>', '<p class="sep">~</p>'}}
</main>

<script>
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
m[i].l=1*new Date();
for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
ym(102234416, "init", {clickmap: true, trackLinks: true, accurateTrackBounce: true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/102234416" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

</body>
