<!DOCTYPE html>
<html lang="{{page.lang | default: 'en'}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>@axtk</title>
    <link rel="stylesheet" href="assets/plain.css">
    <link rel="stylesheet" href="assets/index.css">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
</head>
<body>

<main>

{{content | replace: '<a href="http', '<a target="_blank" href="http' | replace: '<p>~</p>', '<p class="sep">~</p>'}}

</main>

<script src="assets/stats.js"></script>
</body>
</html>
